opdrachten/JCF41 - WoordenApplicatieFx/WoordenApplicatie/nbproject/private/private.xml
opdrachten/JCF41 - WoordenApplicatieFx/WoordenApplicatie/nbproject/private/private.properties
/opdrachten/JCF41 - WoordenApplicatieFx/HuffmanCodering/nbproject/private/
/opdrachten/HuffmanCodering/nbproject/private/
/opdrachten/HuffmanCodering/build
/HuffmanTree/nbproject/private/
/HuffmanTree/build/
HuffmanTree/nbproject/build-impl.xml
HuffmanTree/build.xml
*.mf
HuffmanTree/nbproject/genfiles.properties
HuffmanTree/nbproject/project.xml
*.ppt
sheets/JCF41 - Collections (3).ppt
sheets/JCF41 - Collections (3).ppt
*.ppt
HuffmanTree/nbproject/project.properties
/JTree/nbproject/private/
/JTree/build/
/JTree/dist/
/HuffmanBoom/nbproject/private/
/HuffmanBoom/build/
/JTable/nbproject/private/
/JTable/build/
/JTable/dist/