opdrachten/JCF41 - WoordenApplicatieFx/WoordenApplicatie/nbproject/private/private.xml
opdrachten/JCF41 - WoordenApplicatieFx/WoordenApplicatie/nbproject/private/private.properties
/opdrachten/JCF41 - WoordenApplicatieFx/HuffmanCodering/nbproject/private/
/opdrachten/HuffmanCodering/nbproject/private/
/opdrachten/HuffmanCodering/build